<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; URL='{{ page.redirect_to }}'"/>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .name {
        font-size: 72px;
        font-family: sans-serif;
      }
      .link {
        font-size: 24px;
        font-family: sans-serif;
      }
      @media only screen and (max-width: 600px) {
        .name {
          font-size: 48px;
        }
        .link {
          font-size: 16px;
        }
      }
    </style>
  </head>
  <body>
    <div class="name">
      {{ page.full_name }}
    </div>
    <br>
    <div class="link">
      Redirecting to Notion resume,
      <a href="{{ page.redirect_to }}">click here</a>
      if you are not redirected.
    </div>
  </body>
</html>
